{% extends "gallery/layout.html" %}
{% load static %}

{% block body %}
    <div id="authenticityid">
    </div>
    <div id="checkingwallet">
        <div id="loading">
            <div class="lds-facebook"><div></div><div></div><div></div></div>
            <h4 class="authenh4">The more NFTs a wallet have the longer it takes to fetch!</h4>
        </div>      
    </div>
   
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'gallery/authenticity.js' %}"></script>
{% endblock %}