{% extends "gallery/layout.html" %}

{% load static %}
{% block body %}
                  <div class="backgrounddumb">
                    <div class="show-on-scroll d-flex justify-content-center">
                        <h1 class="headwhatever">ABOUT US</h1>
                    </div>  
                  </div>

                    <div class="backgrounddumbtwo">
                        <div class="show-on-scroll d-flex justify-content-center">
                            <div>
                                <h1 class="whatis mr-3">WHAT IS</h1><h1 class="headwhatevertwo">showART</h1>
                            </div>
                        </div>  
                    </div>
                    <div class="backgrounddumbthree">
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h1 class="whatisthree">showART is</h1>
                        </div>  
                    </div>
                    <div class="backgrounddumbfour">
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h1 class="whatisfour">A place to showcase your NFTs in a way never seen before.</h1>
                        </div>  
                    </div> 
                    <div class="backgrounddumbfive">
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h1 class="whatisfive">A gallery to appreciate the art of NFTs created by people all around world.</h1>
                        </div>  
                    </div> 
                    <div class="backgrounddumbsix">
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h1 class="whatissix">A hideaway from the noisy marketplace.</h1>
                        </div>  
                    </div>

                    <div class="backgrounddumbtwo">
                        <div class="show-on-scroll d-flex justify-content-center">
                            <div>
                                <h1 class="whatis mr-3">WHY</h1><h1 class="headwhatevertwo">showART</h1>
                            </div>
                        </div>  
                    </div>

                    <div class="backgrounddumbseven">
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h1 class="whatisseven">Buying NFTs right now is like buying a real world painting that you can’t take out of the store. 
                            </h1>
                        </div>  
                    </div>
                    <div class="backgrounddumbeight">
                        <div class="d-flex justify-content-center">
                            <h1 class="whatiseight">showArt is here to</h1><h1 class="whatiseightcolor ml-3">change</h1> <h1 class="whatiseight ml-3">that.</h1>
                        </div>  
                    </div>
                  
                    <div class="backgrounddumb9">
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h1 class="whatis9">HOW DOES IT WORK?</h1>
                        </div>  
                      
                    </div>

                    <div class="backgrounddumb10">
                        <div class="show-on-scroll d-flex justify-content-around">
                            <h1 class="whatis10a">#1 CREATE AN ACCOUNT</h1>
                            <h1 class="whatis10b">#2 CONNECT TO A WALLET</h1>
                            <h1 class="whatis10c">#3 CREATE A GALLERY</h1>
                        </div>  
                    </div>

                    <div class="bgimage1">
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h1 class="h1imagecaa">CREATE AN ACCOUNT</h1>
                        </div>  
                        <div class="d-flex justify-content-center">
                            <img src="/static/shtfolder/register.png"class="testingtestimgg"></img>
                        </div>
                    </div>

                    <div class="bgimage2">
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h1 class="h1imagecaa">CONNECT TO A WALLET</h1>
                        </div>  
                        <div class="d-flex justify-content-center">
                            <img src="/static/shtfolder/metamask.png"class="testingtestimgg"></img>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h6 class="authenh4">Note: You can only sign in to a MetaMask wallet once. (For now)</h6>
                        </div>  
                    </div>

                    <div class="bgimage3">
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h1 class="h1imagecaa">CREATE A GALLERY</h1>
                        </div>  
                        <div class="d-flex justify-content-center">
                            <img src="/static/shtfolder/create.png"class="testingtestimgg"></img>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h6 class="authenh4">Note: Query time will vary depending on how much NFTs a person own.</h6>
                        </div>  
                    </div>

                    <div class="bgimage4">
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h4 class="h1imagecp">Create Page</h4>
                        </div>  
                        <div class="d-flex justify-content-center">
                            <h6 class="authenh4">A gallery title background will pops up which you can name your gallery, change its background color and background image.</h6>
                        </div> 
                        <div class="d-flex justify-content-center">
                            <img src="/static/shtfolder/inrealcreate.png"class="testingtestimgg"></img>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h6 class="authenh4">Note: The NFTs that is being shown here belongs to 0xce9b6da25e5b9578305f9c593c670736754ed4c5.</h6>
                        </div>  
                    </div>

                    <div class="bgimage5">  
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h4 class="h1image">Add Background Button</h4>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h6 class="authenh4">A background will pops up at the end of the page along with 5 new buttons.</h6>
                        </div> 
                        <div class="show-on-scroll d-flex justify-content-center">
                            <button class="btnwhatis1 btn btn-outline-danger btn-sm mb-2">X</button><h6 class="authenh4 mt-2 ml-2">is a button to delete the whole background. </h6>
                        </div> 
                        <div class="show-on-scroll d-flex justify-content-center">
                            <button class="btnwhatis2 btn btn-outline-dark btn-sm mb-2">Add Background Above</button><h6 class="authenh4 mt-2 ml-2">is a button for you to add a background above your current background.</h6>
                        </div> 
                        <div class="d-flex justify-content-center">
                            <img src="/static/shtfolder/addbackground.png"class="testingtestimgg"></img>
                        </div> 
                        <div class="d-flex justify-content-center">
                            <h6 class="authenh4 mt-2">Note: In one gallery you can have as many background as you like.</h6>
                        </div> 
                        <div class="d-flex justify-content-center">
                            <h6 class="authenh4">Note: When you are viewing a gallery all the buttons will not be seen.</h6>
                        </div> 
                    </div>


                    <div class="bgimage12">  
                        <div class="d-flex justify-content-center">
                            <div class="woloa">
                               
                               <h3 class="authenh4 mr-2 mt-2 ">Hey! Stop Scrolling! I just wanted to say that you are cute! :)</h3>
                            </div>  
                        </div>
                    </div>
                    
                    <div class="bgimage6">  
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h4 class="h1image">Add Asset Button</h4>
                        </div>
                        <div class="show-on-scroll d-flex justify-content-center">
                            <button class="btnwhatis4 btn btn-outline-dark btn-sm mb-2">Add Asset</button> <h6 class="authenh4 ml-2 mt-2">is a button to create a small section in a background to show your NFTs!</h6>
                        </div> 
                        <div class="show-on-scroll d-flex justify-content-center">
                            <button class="btnwhatis3 btn btn-outline-dark btn-sm mb-2">X</button><h6 class="authenh4 mt-2 ml-2">is a button to delete a asset section above it. </h6>
                        </div> 
                        <div class="d-flex justify-content-center">
                            <h6 class="authenh4">Select NFTs on the navigation bar and click on the orange background to paste your NFTs.</h6>
                        </div> 
                        <div class="d-flex justify-content-center">
                            <img src="/static/shtfolder/addasset.png"class="testingtestimgg"></img>
                        </div> 
                        <div class="d-flex justify-content-center">
                            <h6 class="authenh4">Note: You can only add at most 3 assets per background.</h6>
                        </div>  
                    </div>

                    <div class="bgimage7">  
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h4 class="h1image">It will look like this!</h4>
                        </div>
                        <div class="d-flex justify-content-center">
                            <img src="/static/shtfolder/addimage.png"class="testingtestimgg"></img>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h6 class="authenh4">Note: The asset can be an image, video, music, anything!</h6>
                        </div>  
                    </div>
                    <div class="bgimage8">  
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h4 class="h1image">Adding</h4> <h4 class="h1imagemore ml-2">more</h4><h4 class="h1image ml-2"> asset</h4>
                        </div>
                        <div class="d-flex justify-content-center">
                            <img src="/static/shtfolder/addmoreasset.png"class="testingtestimgg"></img>
                        </div>
                      
                    </div>
                    
                    <div class="bgimage9">  
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h4 class="h1image">Background Color</h4> <h4 class="h1imagebut ml-2">Button</h4>
                        </div>
                        <div class="d-flex justify-content-center">
                            <img src="/static/shtfolder/new.png"class="testingtestimgg"></img>
                        </div>
                    </div>
                    
                    <div class="bgimage10">  
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h4 class="h1imagechoose mr-2">Choose</h4><h4 class="h1image">File Button</h4>
                        </div>

                        <div class="d-flex justify-content-center">
                            <h6 class="authenh4">Click and select an image to change background!</h6>
                        </div>  
                        <div class="d-flex justify-content-center">
                            <img src="/static/shtfolder/addbgimage.png"class="testingtestimgg"></img>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h6 class="authenh4">Note: If you try adding a video as a background image an error will occur!</h6>
                        </div>  
                    </div>
                    
                      
                    <div class="bgimage11">  
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h4 class="h1image">Fill out the title and description if you want!</h4>
                        </div>
                        <div class="d-flex justify-content-center">
                            <img src="/static/shtfolder/adddes.png"class="testingtestimgg"></img>
                        </div>
                    </div>

                    <div class="bgimage12">  
                        <div class="d-flex justify-content-center">
                            <div class="show-on-scroll woloa">
                               
                               <h4 class="authenh4 mr-2 mt-2 ">After you are done just click</h4>
                                <button class="woloabtn btn btn-outline-dark btn-lg">Post</button>
                            </div>  
                        </div>
                    </div>
                    <div class="bgimage13"> 
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h4 class="h12image">One background in a gallery can look like this!</h4>
                        </div>
                    </div>
                        
                    <div id="undefinedforappend" class="d-flex justify-content-center template2 mr-4 d-flex flex-wrap" style="background-image: url(&quot;/static/profile_pic/&quot;); background-color: rgb(247, 110, 110);"><div id="wilachatww" name="imgdiv" value="false" class="threeimage"><div id="oneinamillion" class="divborder"><img id="oneintwo" class="testingtestimgg" src="https://lh3.googleusercontent.com/HG-KEAkzXuiJ2VmC1X3fpWrIyrffMq_LHJMj85zKUVqzou5Gz2LXhydKiIvxvC2k-J07B04NQzJ0O6Ne3xSQ6EahAqOHJQueLhqDRw"></div></div><div id="wilachatww" name="imgdiv" value="false" class="threeimage"><div id="oneinamillion" class="divborder"><img id="oneintwo" class="testingtestimgg" src="https://lh3.googleusercontent.com/sjER8K5c-cpP7bmbOihJk1ar7yg5BNj5YccV7oT7inaOouNrIQXeLbAy8F8xw7Cwc7ivY_VknSsSs9rqeu9vV7RgDDU3ZNFsFBugpg"></div></div></div>
                   
                    <div class="bgimage11">  
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h4 class="h1image">Clicking into an asset in a</h4> <h4 class="h1imagegal ml-2">gallery</h4><h4 class="h1image">.</h4>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h6 class="authenh4">By clicking an asset the title and description of the asset will be shown.</h6>
                        </div>  
                        <div class="d-flex justify-content-center">
                            <img src="/static/shtfolder/insideingallery.png"class="testingtestimgg"></img>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h6 class="authenh4">Note: If an asset is a video you can press on the asset to unmute the sound.</h6>
                        </div>  
                    </div>

                    <div class="bgimage12">  
                        <div class="d-flex justify-content-center">
                            <div class="show-on-scroll woloa">
                                <h4 class="asdf"><a class="authenh4a" href="/profile/16" target="_blank"style="color:black;">DEMO GALLERY</a></h4>
                            </div>  
                        </div>
                    </div>
                    
        
                    <div class="bgimage1">  
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h4 class="h1imagepro">Profile</h4>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h6 class="authenh4">Click the gallery button to view people's gallery.</h6>
                        </div> 
                        <div class="d-flex justify-content-center">
                            <img src="/static/shtfolder/profileothers.png"class="testingtestimgg"></img>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h6 class="authenh4">Note: A vote button is the same as a follow button on instagram.</h6>
                        </div>  
                    </div>

                    <div class="bgimage6">  
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h4 class="h1imagetop">Top 3</h4>
                        </div>
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h6 class="authenh4">Gallery with the top 3 votes will be shown here.</h4>
                        </div>
                        <div class="d-flex justify-content-center">
                            <img src="/static/shtfolder/top3.png"class="testingtestimgg"></img>
                        </div>
                    </div>

                    <div class="bgimage1">  
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h4 class="h1imageex">Explore</h4>
                        </div>
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h6 class="authenh4">Explore the NFTs art of others here!</h4>
                        </div>
                        <div class="d-flex justify-content-center">
                            <img src="/static/shtfolder/explore.png"class="testingtestimgg"></img>
                        </div>
                    </div>
                   
                    <div class="bgimage7">  
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h4 class="h1imagevote">Voted</h4>
                        </div>
                        <div class="show-on-scroll d-flex justify-content-center">
                            <h6 class="authenh4">Find your voted gallery here!</h4>
                        </div>
                        <div class="d-flex justify-content-center">
                            <img src="/static/shtfolder/voted.png"class="testingtestimgg"></img>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h6 class="authenh4">Note: This is basically a feed/following page.</h6>
                        </div>  
                    </div>


                    <div class="bgimageopensea">  
                        <div class="d-flex justify-content-center">
                            <div class="woloa">
                               
                               <h4 class="authenh4 mr-2 mt-2 ">API FROM</h4>
                                <a class="authenh4 ml-3"href="https://opensea.io/">OpenSea</a>
                            </div>  
                        </div>
                    </div>


                    <div class="bgimage12">  
                        <div class="d-flex justify-content-center">
                            <div class="woloa">
                               
                               <h6 class="authenh4 mr-2 mt-2 ">FOR NEW IDEAS, SUGGESTIONS, OR QUESTIONS</h6>
                                <h4 class="authenh4" style="color:tomato">waanwaanwilachat@gmail.com</h4>
                            </div>  
                        </div>
                    </div>
                    
                    
    


                    {% endblock %}
             
             
                    {% block script %}           
              <script>
                    document.addEventListener('DOMContentLoaded', function(e) {
                        let clicked = window.location.pathname
    if (clicked == "/"){
        document.querySelector('#navindex').style.color = "salmon";
    }

             

              var scroll = window.requestAnimationFrame ||
                // IE Fallback
                function(callback){ window.setTimeout(callback, 1000/60)};
   var elementsToShow = document.querySelectorAll('.show-on-scroll'); 
   
   function loop() {
   
     elementsToShow.forEach(function (element) {
       if (isElementInViewport(element)) {
         element.classList.add('is-visible');
       } else {
         element.classList.remove('is-visible');
       }
     });
   
     scroll(loop);
   }
   
   // Call the loop for the first time
   loop();
   
   // Helper function from: http://stackoverflow.com/a/7557433/274826
   function isElementInViewport(el) {
     // special bonus for those using jQuery
     if (typeof jQuery === "function" && el instanceof jQuery) {
       el = el[0];
     }
     var rect = el.getBoundingClientRect();
     return (
       (rect.top <= 0
         && rect.bottom >= 0)
       ||
       (rect.bottom >= (window.innerHeight || document.documentElement.clientHeight) &&
         rect.top <= (window.innerHeight || document.documentElement.clientHeight))
       ||
       (rect.top >= 0 &&
         rect.bottom <= (window.innerHeight || document.documentElement.clientHeight))
     );
   }
})
</script>
   {% endblock %}
            
            
       
 


