{% extends "gallery/layout.html" %}
{% load static %}

{% block body %}
<div id="supernewclass">
    
</div>

    <div id="overlay">
        <div class="mt-5 d-flex justify-content-center">
            <img id="uknowimg" class="testingtestimg"></img>
        </div> 
    </div>

<input id="hiddenforhex" value="" type="hidden">


<div id="profileedit">
</div>

<div id="followpart">
</div>


<div class="gallerypageone" id="gallerypageone">
    <div id="loading" class="loadingcss">
    <div class="loader">
			<span>F</span>
			<span>E</span>
			<span>T</span>
			<span>C</span>
			<span>H</span>
			<span>I</span>
			<span>N</span>
            <span>G</span>
            <span> </span>
            <span>D</span>
            <span>A</span>
            <span>T</span>
            <span>A</span>




			
</div>
		</div>
   
</div>

<div id="gallerypage">
</div>



{% endblock %}

{% block script %}
    <script type="module" src="{% static 'gallery/profile.js' %}"></script>
    <script src="https://unpkg.com/fast-average-color/dist/index.min.js"></script>

    <script src="{% static 'gallery/grade-master/docs/dist/grade.js' %}"></script>

{% endblock %}