{% extends "gallery/layout.html" %}
{% load static %}


{% block body %}
<div id="loading">
    <div class="lds-facebook"><div></div><div></div><div></div></div>
    <h4 class="authenh4">The more NFTs a wallet have the longer it takes to fetch!</h4>
</div>  


<div id="shownfts">
</div>




<div id="nextimg">
</div>

<div id="savedtemplates"></div>

<div id="showtemplates">
</div>


<input id="saveurl" value="" type="hidden">



{% endblock %}

{% block script %}
    
    <script type="module" src="{% static 'gallery/realcreate.js' %}"></script>

{% endblock %}
