{% extends "gallery/layout.html" %}

{% block body %}

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group d-flex justify-content-center mt-5">
            <input class="form-control w-25" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group d-flex justify-content-center">
            <input class="form-control w-25" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group d-flex justify-content-center">
            <input class="form-control w-25" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group d-flex justify-content-center">
            <input class="form-control w-25" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <div class="d-flex justify-content-center">
            <input class="btn btn-outline-dark btn-sm" type="submit" value="Register">
        </div>
    </form>

    <div class="d-flex justify-content-center mt-2">
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </div>

{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function(e) {
       console.log("hello")
       document.querySelector('#navregister').style.color = "salmon"
    })
    
    </script>
{% endblock %}