.heading{
    color: #19292E;
  font-size: 8em;
    left: 50%;
  line-height: 1;
  margin: 0;
  position: absolute;
  text-shadow: 0 2px 10px rgba(255,255,255,.5);
    top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 5em;
  z-index: 10;
}
.headwhatever{
  font-family:"HelveticaW01-Bold";
  font-weight: bold;
  font-size:100px;
  margin-top:20%;

}
.headwhatevertwo{
    font-family:"HelveticaW01-Bold";
    font-weight: bold;
    font-size:100px;
  
  }
  .whatis, .whatisthree,
  .whatisfour, .whatisfive, .whatissix, .whatisseven, .whatiseight,.whatiseightcolor, .whatis9, .whatis10a, .whatis10b, .whatis10c
  , .whatis11, .whatis12, .h1image, .h12image, .h1imagecaa, .h1imagecp, .h1imagemore, .h1imagepro, .h1imageex, .h1imagetop, .h1imagevote, 
  .h1imagegal, .h1imagebut, .h1imagechoose
  {
    font-family:"HelveticaW01-Bold";
    font-weight: bold;
  }
  @media only screen and (max-width: 400px)
{
  .headwhatevertwo {
    font-size:70px;
    margin-top:8%;
    text-align: center;
  }
}

.whatis{
  
    font-size:30px;
    margin-top:20%;
    text-align: center;
    color:tomato;
  }

  .whatisthree{
    font-size:100px;
    margin-top:8%;
    text-align: center;
  }
  @media only screen and (max-width: 400px)
{
  .whatisthree {
    font-size:70px;
    margin-top:8%;
    text-align: center;
  }
}
  .whatisfour, .whatisfive, .whatissix, .whatisseven, .whatiseight,.whatiseightcolor, .whatis9,
   .whatis11, .whatis12{
    font-size:44px;
    margin-top:14%;
    text-align: center;
  } 
  .h1image, .h1imagecaa, .h1imagecp, .h1imagemore, .h1imagepro, .h1imageex, .h1imagetop, .h1imagevote, .h1imagegal,
   .h1imagebut, .h1imagechoose
  {
    margin-top:5%;

  }
  .h12image{
    margin-top:10%;
  }
 
  .whatiseight{
    font-size:80px;
    margin-top:15%;
    text-align: center;
  }
  .whatiseightcolor{
    font-size:80px;
    margin-top:15%;
    text-align: center;
    color:white;
  }
  .whatis10a , .whatis10b, .whatis10c{
    font-size:44px;
    margin-top:15%;
    text-align: center;
  }