@font-face {font-family: "HelveticaW01-Bold"; src: url("//db.onlinewebfonts.com/t/f7d1b2995a6dff7abcda304d226aa67d.eot"); src: url("//db.onlinewebfonts.com/t/f7d1b2995a6dff7abcda304d226aa67d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f7d1b2995a6dff7abcda304d226aa67d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f7d1b2995a6dff7abcda304d226aa67d.woff") format("woff"), url("//db.onlinewebfonts.com/t/f7d1b2995a6dff7abcda304d226aa67d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f7d1b2995a6dff7abcda304d226aa67d.svg#HelveticaW01-Bold") format("svg"); }
@font-face {font-family: "HelveticaW01-Cn"; src: url("//db.onlinewebfonts.com/t/13142f2ecc33e8151867bd44ea4eb4dc.eot"); src: url("//db.onlinewebfonts.com/t/13142f2ecc33e8151867bd44ea4eb4dc.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/13142f2ecc33e8151867bd44ea4eb4dc.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/13142f2ecc33e8151867bd44ea4eb4dc.woff") format("woff"), url("//db.onlinewebfonts.com/t/13142f2ecc33e8151867bd44ea4eb4dc.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/13142f2ecc33e8151867bd44ea4eb4dc.svg#HelveticaW01-Cn") format("svg"); }

#navibarid{
  background-color: #f6bd60;
}

body{

 /* background-image: url(/static/profile_pic/marble.jpg);*/
  background-color:#f4e9dd;
}

.nav-link{
  color:white;
}
.aboutustitle
{
  font-family:"HelveticaW01-Bold";
  font-weight: bold;
  font-size:100px;
  margin-top:20%;
  
}
/*
ABOUT US CSS
*/
/* END */
#texty{
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    font-family: Avenir Next,Avenir,Avenir Next Local,sans-serif!important;
}
#metamaskimg{
    width: 150px;
    height:150px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.container-small {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
div {
    display: block;
}
.h2username
{
    
    font-weight: 600;
    font-size: 18px;
  
}
#file-upload-button
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}
.dropin
{
    border: 2px dashed #0087F7;
    background-color: #ffffff;
    height: 300px;
    width: 500px;

    cursor: pointer;

}
.gallerymostvoted{
  font-family:"HelveticaW01-Bold";
  font-size: 25px;
  margin-top:5%;


}
.carouselol{
color:black;
}
.searchbutton
{
  position:fixed;
  margin-top:5%;
  margin-left:50%;
}
.inputsearch{
  margin-top:3%;

}

.divsearch{
  background-color:#f4e9dd;
  margin-top:2.5%;
  width:100%;
  height:45px;
  position:fixed;
}

.wow{
    margin: 0px;
    line-height: 1.2;
    font-weight: 600;
    font-size: 25px;
    color: rgb(0, 0, 0);
    display: inline-block;
  font-family:"HelveticaW01-Bold";
}
.contactgmailcss
{
    margin: 0px 0px 16px;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 400;
    color: rgb(170, 170, 170);
}
.profiledescss
{
    margin: 0px 0px 16px;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 500;
    color: rgb(170, 170, 170);
}
.openseaurlcss
{
    margin: 0px 0px 16px;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 400;
    color: rgb(170, 170, 170);
}
.textedit
{
    width:50%;
    height:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    border: none;
    background-color:lightgoldenrodyellow;
    border-radius: 5px;
}

.showart
{
  color:white;
  font-family:"HelveticaW01-Bold";
    
}
.whattodoinselectimg
{
  font-family:"HelveticaW01-Bold";
  font-size:20px;
  margin-top:7%;
}
.showartt
{
  font-family: "HelveticaW01-Bold";
  font-size:15px;
  text-align:center;
  display:inline-block;
  float: none;
    

}
.showartt:hover
{
  background-color:#f4e9dd;
  border-radius:20px;


    
}
input[id='choosefile'] {
  opacity:0  
}

#coverschoosefile
{
  text-align:center;
  /*border: 2px dashed #0087F7;
  background-color: #ffffff;
  */
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  background-color:lightgoldenrodyellow;
}

.choosefile
{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.imgnoedit
{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  object-fit: cover;

}
.wrapper
{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}
.nftimg
{
  margin:auto;
  display: block;
  transform: scale(0.5);
  width: 100%;
  height:100%; 
  text-align:center;
  z-index: 2;
  position: relative;
  object-fit: contain;

}
.nftvdo
{
  margin:auto;
  display: block;
  text-align:center;
  transform: scale(0.5);
  width: 100%; 
  height:100%;
  z-index: 2;
  position: relative;
}
.box
{
  display:block;
  width: 333px; 
  height:333px; 
  z-index: 1;
}
.boxcolor
{
  display:block;

  width: 333px; 
  height:333px; 
  background-color: salmon;
}
.changecolorr
{
  background-color:black;
}
.gradient-wrap
{
  width:300px;
  height:300px;
}
.testimg
{
  margin:auto;
  display: block;
  margin-top:auto;
  position: relative;
  margin-top:23px;

}
.nftimgnext
{
  margin:auto;
  display: block;
  transform: scale(0.5);
  width: 100%;
  height:100%; 
  text-align:center;
  z-index: 2;
  position: relative;
}
.boxnext
{
  display:block;
  width: 120px; 
  height:120px; 
  z-index: 1;
}

.templteimgdiv{
  margin-top:8%;

}

.imgnextbg
{
  background-color: salmon;
  z-index:99;
  width:100%;
  max-height:100px;
  position:fixed;
  top:0;
  overflow: scroll;


}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 105vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;

}
#overlayrc {
  position: fixed;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;

}
.nftimageprofile{
  margin:auto;
  display: block;
  top: 9%;
  height:100%;
  width:auto;
  text-align:center;
  z-index: 2;
  position: absolute;
  max-height:650px;
  object-fit: contain;
}
.titlespan{
  font-size:18px;
  font-family: "HelveticaW01-Bold";
  color:black;
  font-weight: bold;
}
.realtitlespan{
  font-size:43px;
  font-family:"HelveticaW01-Bold";
  color:black;
  font-weight: bold;
}
.realdesspan{
  display:flex;
  flex-direction: row;
  font-size:23px;
  font-family:"HelveticaW01-Bold";
  color:black;
  font-weight: bold;
}
.yuptitle{
  font-family:"HelveticaW01-Bold";
  font-weight: bold;
  font-size:20px;
}
.yuptitlee{
  font-family:"HelveticaW01-Bold";
  font-weight: bold;
  font-size:50px;
  margin-top:20%;
}
.belowimgnextbg{
  margin-top:8%;
  position:fixed;
}
.templateimgdiv{
  width:100%;
}
.backsave{
  position:fixed;
  margin-top:9%;
}
#bosss{
  margin-top:12%;
}

.spans{
  display:flex;
  flex-direction: column;
  max-width:300px;
  background-color: white;
  height:auto;
}
.testingtestimg{
  margin:auto;
  display: block;
  width: 100%;
  height:100%;
  text-align:center;
  z-index: 2;
  position: relative;
  object-fit: contain;
  max-height:700px;


}
/*templates */
.template1{
  width:100%;
  height:105vh;
  background-color:sandybrown;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;


}
.template2{
  display: flex;
  width:100%;
  flex-direction: row;
  min-height: 105vh;
  background-color:tomato;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}
.oneimage{
  display:block;
  width:40%; 
  height:60%; 
  z-index: 1;
  position:relative;
  margin:auto;
}
.threeimage{
  display:flex;
  flex-direction:column;
  width:33%; 
  height:53%; 
  z-index: 1;
  position:relative;
  margin:auto;
}
.templates2{
  display:block;
  width: 60%; 
  height:80%; 
  z-index: 1;
  position:relative;
  margin:auto;
}

.nftimgg
{
  margin:auto;
  display: block;
  transform: scale(0.5);
  width: 100%;
  height:100%;
  text-align:center;
  z-index: 2;
  position: relative;
  border-style: dotted
}
.nftimgg
{
  margin:auto;
  display: block;
  transform: scale(0.5);
  width: 100%;
  height:100%;
  text-align:center;
  z-index: 2;
  position: relative;
  border-style: dotted
}
.divborder
{
  margin:auto;
  display: block;
  width: 80%;
  height:80%;
  z-index: -1;
  position: relative;
  text-align: center;
  position:relative;
}
.divborder :hover
{
  cursor: pointer;
}

.testingtestimgg{
  margin:auto;
  display: block;
  width: 100%;
  height:100%;
  text-align:center;
  z-index: 2;
  position: relative;
  object-fit: contain;
  max-height:500px;
}
.nftvdoo
{
  margin:auto;
  display: block;
  text-align:center;
  max-height:500px;
  width: 100%;
  height:100%;
  z-index: 2;
  position: relative;
}
.changebgbutton{
  height:30px;
  vertical-align: middle

}
.deletetemplate{
  height:30px;
  vertical-align: middle;
  text-align:center;
}
.changecolor{
  height:30px;
  background-color: white;

}
.filetemplate1{
  height:30px;
  vertical-align: middle
}
.okshowtitledes{
  max-width:300px;
  
}
.showtitledes{
  border-radius:15px;
  width:50%;
  text-align:center;
  max-height: 150px;
  margin-bottom:10px;
  overflow: scroll;

}
#askforwallet
{
  margin-top:15%;
}
.gallerytitleinput
{  margin-top:25%;

}
.quertfornfttext{
  text-align: center;
  font-family: "HelveticaW01-Bold";

}
.galleryname
{
  padding-top:-30px;
}
.postexplore
{
  width:700px;
  height:400px;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;

  box-shadow: #f6bd60 5px 5px, #f7d560 10px 10px, #f6e199 15px 15px,  #fbeeac 20px 20px
}
.postexploregallery
{
  width:700px;
  height:400px;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;

  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;


}
.postexplore2
{
  width:700px;
  height:auto;

}
.ptitle{
  margin-bottom:-10px;
}
.titlep{
  color:black;
}
.titlespan{
  font-weight: bold;
}
#aescape
{
  color:black;
}
.aeexplore:hover{
  text-decoration: none;

}
.coversall
{
  border-bottom: 1px solid #dadada;

}
#profileedit{
  margin-top:8%;
  
}
.connectwalletclass{
  margin-top:8%;

}
#titlecolor{
  margin-top:-20px;
}
#posttableid{
  margin-top:10%;
}
.pagelink{
  color:#f6bd60;
}
.pagelink:hover{
  color:black;
}
.active a{
  background-color:  #f6bd60 !important;
  border-color: #f6bd60 !important; 
}
